@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-black: #171717;
  --theme-gray: #444444;
  --theme-white: #ededed;
  --theme-red: #da0037;
  --border-radius: 10px;
}

* {
  font-family: "Fira Code", monospace;
}

/* Hide scrollbar for all elements */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #fed885;
}
